/* font-family: 'Montserrat', sans-serif; */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}
img {
  vertical-align: middle;
}
.drive {
  margin-right: 40px;
}

.cabecalho {
  display: flex;
  background-color: #2b1e66;
  height: 70px;
  width: 100%;
  align-items: center;
  color: black;
  font-weight: 600;
  padding-left: 162px;
  justify-content: space-between;
  padding-right: 140px;
}
.banner {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url("../assets/images/hero.gif");
  background-size: 1400px;
  background-position: center;
  background-repeat: no-repeat;
  height: 550px;
  width: 100%;
  color: white;
}
.pagePhone {
  display: flex;
  height: 520px;
  background-color: #76278f;
}

.pageVideWatch {
  display: flex;
}

.textoWatch {
  width: 420px;
  margin-left: 40px;
  margin-right: 70px;
  font-size: 13px;
  font-weight: 600;
}
.videoWatch {
  width: "860";
  height: "486";
}

.textoWatch h5 {
  margin-top: 40px;
}

.videPageJuneGeral {
  display: flex;
}
.videPageJune {
  margin-right: 50px;
}
.GoodThinkGeral {
  display: flex;
}

.textAGoodThink {
  width: 320px;
  margin-left: 40px;
  margin-right: 75px;
  font-size: 13px;
  font-weight: 600;
}

footer {
  background-color: #333447;
  height: 580px;
}
